/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.12.2015, 15:47:46
    Author     : alinka
*/


$main_color: #0071BC;


$text-white: #fff;
$text-black: #000;
$text-blue: #255AA4;